# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# local sessions
myapps_session*


#### sysclient
# local sysclient sessions
sysclient_*.txt
# static folder for sysclient
devices/ 

# vscode
.vscode/

# main.go
main.go